<head>
  <title>Have it!</title>
</head>

<body>
</body>



<template name="mainLayout">
	{{#onlyIfLoggedIn}}
		{{> Template.dynamic template=main}}
	{{/onlyIfLoggedIn}}
</template>

<template name="onlyIfLoggedIn">
  {{#if authInProcess}}
    <p>loading ...</p>
  {{else}}
    {{#if canShow}}
      {{> UI.contentBlock }}
    {{else}}
      {{> loginButtons}}
    {{/if}}
  {{/if}}
</template>





<template name="linkListReceived">
<a href="/share">Share!</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/sent">Sent</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/friends">Friends</a>

	<h1>Links List:</h1>
	<ul>
		{{#each receivedLinks}}
    <li><a href={{url}}>{{title}}</a><br>({{url}})</li>
		{{/each}}
	</ul>
</template>





<template name="linkListSent">
  <a href="/">Back to inbox</a>

	<h1>Sent Links List:</h1>
	<ul>
		{{#each sentLinks}}
    <li><a href={{url}}>{{title}}</a> - {{recipientsDisplay}}</li>
		{{/each}}
	</ul>
</template>





<template name="linkShare">
  <a href="/">Back to inbox</a>

  <h1>Share Link:</h1>
	
  <form id="shareLinkForm">
    <div>
    <input type="text" default="url" name="url"> URL
    </div>
    <div>
		<input type="text" default="title" name="title"> Title
    </div>
    <div>
		<input type="text" default="comments" name="comments"> Comments
    </div>

    <div>
      <select id="friendsSelect" multiple="multiple">
        {{#each friends}}
        <option value="{{_id }}">{{username}}</option>
        {{/each}}
      </select>
    </div>

    <div>
		<input type="submit" name="shareLink" value="Send">
    </div>
	</form>
 
</template>


<template name="friends">
	<form id="addFriendForm">
		Username:
		<input type="text" default="username" name="username">
		<input type="submit" name="addFriend" value="Add">
	</form>

	<h1>Friends:</h1>
	<ul>
		{{#each friends}}
    <li>{{emails.[0].address}} ({{username}})</li>
		{{/each}}
	</ul>
</template>
