<head>
  <title>Have it!</title>
</head>

<body>
</body>



<template name="mainLayout">
	{{#onlyIfLoggedIn}}
		{{> Template.dynamic template=main}}
	{{/onlyIfLoggedIn}}
</template>

<template name="onlyIfLoggedIn">
  {{#if authInProcess}}
    <p>loading ...</p>
  {{else}}
    {{#if canShow}}
      {{> UI.contentBlock }}
    {{else}}
      {{> loginButtons}}
    {{/if}}
  {{/if}}
</template>





<template name="linkList">
  <a href="/share">Share!</a>

	<h1>Links List:</h1>
	<ul>
		{{#each links}}
    <li><a href={{url}}>{{title}}</a></li>
		{{/each}}
	</ul>
</template>




<template name="linkShare">
	<h1>Share Link:</h1>
	
  <form id="shareLinkForm">
    <div>
    URL:
    <input type="text" default="url" name="url">
    </div>
    <div>
    Title:
		<input type="text" default="title" name="title">
    </div>

    <div>
      <select id="friendsSelect" multiple="multiple">
        {{#each friends}}
          <option value="{{_id }}">{{emails.[0].address}}</option>
        {{/each}}
      </select>
    </div>

    <div>
		<input type="submit" name="shareLink" value="Send">
    </div>
	</form>
 
</template>


<template name="friends">
	<form id="addFriendForm">
		Email address:
		<input type="text" default="email address" name="email">
		<input type="submit" name="addFriend" value="Add">
	</form>

	<h1>Friends:</h1>
	<ul>
		{{#each friends}}
			<li>{{emails.[0].address}}</li>
		{{/each}}
	</ul>
</template>
